<div class="bg-white p-6 sticky top-6">
    <h2 class="text-2xl font-bold text-purple mb-4">Book this Excursion</h2>
    {% if not excursion.availabilities.exists %}
        <p class="text-gray-500 text-center py-4 not-availability">The excursion is currently not available.</p>
    {% else %}
    
    <!-- Availability selection -->
    <form method="post" class="space-y-4" id="booking-form">
        {% csrf_token %}
        <input type="hidden" name="booking_submit" value="1">
        {% for availability in excursion_availabilities.all %}
            <input type="hidden" name="{{ availability.id }}-adult-price" value="{{ availability.adult_price }}">
            <input type="hidden" name="{{ availability.id }}-child-price" value="{{ availability.child_price }}">
            <input type="hidden" name="{{ availability.id }}-infant-price" value="{{ availability.infant_price }}">
        {% endfor %}
        <input type="hidden" name="availability_id" id="availability-id" value="">
        <div class="flex flex-col gap-2">
            <label class="block text-md font-semibold text-header-grey">Region</label>
            <select name="regions" id="regions" class="mt-1 block w-full pl-3 pr-2 py-2 text-base form-fields-border focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md {% if form.regions.errors %}border-red-500{% endif %}">
                <option value="">Select a region</option>
                {% for region in regions %}
                    <option value="{{ region.id }}">{{ region.name }}</option>
                {% endfor %}
            </select>
            {% if form.regions.errors %}
            <p class="mt-1 text-sm text-red-600">{{ form.regions.errors.0 }}</p>
            {% endif %}
        </div>
        
{{ availability_dates_by_region|json_script:"available-dates-json" }}
{{ pickup_points_by_region|json_script:"pickup-points-json" }}
{{ region_availability_map|json_script:"region-availability-map-json" }}
<input type="hidden" id="user-pickup-point-id" value="{{ user_pickup_point_id|default:'' }}">
<input type="hidden" id="user-region-id" value="{{ user_region_id|default:'' }}">

        <div class="flex flex-col gap-2">
            <label class="block text-md font-semibold text-header-grey">Pickup Point</label>
            <select name="pickup_point" id="pickup-point" class="mt-1 block w-full pl-3 pr-2 py-2 text-base form-fields-border focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md {% if form.pickup_point.errors %}border-red-500{% endif %}" disabled>
                <option value="">Select a region first</option>
            </select>
            {% if form.pickup_point.errors %}
                <p class="mt-1 text-sm text-red-600">{{ form.pickup_point.errors.0 }}</p>
            {% endif %}
        </div>

        <div>
            <label class="block text-md font-semibold text-header-grey">Date</label>
            <input type="text" id="date-picker" class="mt-1 block w-full form-fields-border rounded-md px-3 py-2 {% if form.date.errors %}border-red-500{% endif %}" placeholder="Select a region first" readonly>
            <!-- <span id="remaining-seats" class="text-sm text-gray-500">Remaining seats: <span id="remaining-seats-count">{{ remaining_seats }}</span></span> -->
            
            {% if form.date.errors %}
            <p class="mt-1 text-sm text-red-600">{{ form.date.errors.0 }}</p>
            {% endif %}
        </div>

        <div class="grid grid-cols-3 gap-4 py-4">
            <div>
                <label class="block text-md font-semibold text-header-grey">Adults</label>
                <input type="number" name="adults" min="0" value="0" class="mt-1 block w-full pl-3 pr-2 py-2 text-base form-fields-border focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md {% if form.adults.errors %}border-red-500{% endif %}">
                {% if form.adults.errors %}
                <p class="mt-1 text-sm text-red-600">{{ form.adults.errors.0 }}</p>
                {% endif %}
            </div>
            <div>
                <label class="block text-md font-semibold text-header-grey">Children</label>
                <input type="number" name="children" min="0" value="0" class="mt-1 block w-full pl-3 pr-2 py-2 text-base form-fields-border focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md {% if form.children.errors %}border-red-500{% endif %}">
                {% if form.children.errors %}
                <p class="mt-1 text-sm text-red-600">{{ form.children.errors.0 }}</p>
                {% endif %}
            </div>
            <div>
                <label class="block text-md font-semibold text-header-grey">Infants</label>
                <input type="number" name="infants" min="0" value="0" class="mt-1 block w-full pl-3 pr-2 py-2 text-base form-fields-border focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md {% if form.infants.errors %}border-red-500{% endif %}">
                {% if form.infants.errors %}
                <p class="mt-1 text-sm text-red-600">{{ form.infants.errors.0 }}</p>
                {% endif %}
            </div>
            
        </div>
        {% comment %} {% if user.is_staff or user.userprofile.role == 'representative' %} {% endcomment %}
        <div class="flex flex-col gap-2">
            <label class="block text-md font-semibold text-header-grey">Guest Name</label>
            <input type="text" name="guest_name" id="guest-name" class="mt-1 block w-full pl-3 pr-2 py-2 text-base form-fields-border focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md {% if form.guest_name.errors %}border-red-500{% endif %}" value="{% if return_data.client_name is not None %}{{ return_data.client_name }}{% endif %}">
            {% if form.guest_name.errors %}
            <p class="mt-1 text-sm text-red-600">{{ form.guest_name.errors.0 }}</p>
            {% endif %}

            <label class="block text-md font-semibold text-header-grey">Guest Email</label>
            <input type="email" name="guest_email" id="guest-email" class="mt-1 block w-full pl-3 pr-2 py-2 text-base form-fields-border focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md {% if form.guest_email.errors %}border-red-500{% endif %}">
            <span  id="guest-email-disabled" class="hidden text-sm text-gray-500">Your email is automatically filled in based on your profile. You cannot change it.</span>
            {% if form.guest_email.errors %}
            <p class="mt-1 text-sm text-red-600">{{ form.guest_email.errors.0 }}</p>
            {% endif %}

        {% comment %} {% endif %} {% endcomment %}

            <div class="mt-2">
                <a href="#" id="clear-numbers" class="inline-flex justify-center items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Clear</a>
            </div>
        </div>

        <div class="mt-4 pt-4 border-t border-gray-200">
            <div class="flex justify-between items-center p-4 bg-blue-50 rounded-lg">
                <span class="text-base font-semibold text-header-grey">Total</span>
                <span class="text-lg font-bold text-blue-600">€<span id="total-price">0.00</span></span>
                <input type="number" id="total-price-input" name="total_price" min="0" value="0" class="hidden">
            </div>
        </div>
        
        <div id="form-errors" class="hidden mb-4 p-4 bg-red-50 border border-red-200 rounded-md">
            <ul class="list-disc list-inside text-sm text-red-600"></ul>
        </div>

        {% if user.is_staff or user.profile.role == 'representative' %}
        <div class="flex flex-col gap-2">   
            <label class="block text-md font-semibold text-header-grey">Partial Payment</label>
            <input type="number" name="partial_payment" id="partial-payment" class="mt-1 block w-full pl-3 pr-2 py-2 text-base form-fields-border focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md">
            <div class="hidden remaining-price-div">
                <span class="text-sm font-medium text-header-grey">Remaining</span>
                <span class="text-base font-semibold text-header-grey">€<span id="remaining-price">0.00</span>
            </div>
            <div class="flex flex-col gap-2 hidden" id="partial-paid-method-div">
                <label class="block text-md font-semibold text-header-grey">Payment Method</label>
                <select name="partial_paid_method" id="partial-paid-method" class="mt-1 block w-full pl-3 pr-2 py-2 text-base form-fields-border focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md {% if form.partial_paid_method.errors %}border-red-500{% endif %}">
                    <option value="" selected>Select a payment method</option>
                    <option value="cash">Cash</option>
                    <option value="card">Card</option>
                </select>
            </div>
            
            <div class="reservation-id-div">
                <label class="block text-md font-semibold text-header-grey">Reservation ID</label>
                <input type="text" name="voucher_code" id="voucher_code" class="mt-1 block w-full pl-3 pr-2 py-2 text-base form-fields-border focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md">
            </div>
        </div>
        {% endif %}

        <button type="submit" id="submit-button" class="w-full inline-flex justify-center items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:cursor-pointer hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 disabled:opacity-50 disabled:cursor-not-allowed">
            <svg id="loading-spinner" class="hidden animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            <span id="submit-text">Book Now</span>
        </button>
    </form>
    {% endif %}
</div>