{% extends "base.html" %}

{% block content %}

<h1>Test Models</h1>

<h2>Bookings</h2>
<table class="table-auto w-full border-collapse border border-gray-300 rounded-lg shadow-md text-center p-3">
    <tr>
        <th>ID</th>
        <th>Client</th>
        <th>Excursion</th>
        <th>partial paid</th>
        <th>Price</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Voucher ID</th>
    </tr>
    {% for booking in bookings %}
        <tr>
            <td>{{ booking.id }}</td>
            <td>{{ booking.client.name }}</td>
            <td>{% if booking.display_excursion %}{{ booking.display_excursion.title }}{% else %}Excursion{% endif %}</td>
            <td>{{ booking.partial_paid }}</td>
            <td>{{ booking.price }}</td>
            <td>{{ booking.payment_status }}</td>
            <td>{{ booking.created_at }}</td>
            <td>{{ booking.voucher_id }}</td>
        </tr>
    {% endfor %}
</table>

<h2>Reservations</h2>
<table class="table-auto w-full border-collapse border border-gray-300 rounded-lg shadow-md text-center p-3">
    <tr>
        <th>ID</th>
        <th>Client</th>
        <th>Excursion</th>
        <th>Description</th>
        <th>Price</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Voucher ID</th>
    </tr>
{% for reservation in reservations %}
    <tr>
        <td>{{ reservation.id }}</td>
        <td>{{ reservation.client.name }}</td>
        <td>{{ reservation.excursion.name }}</td>
        <td>{{ reservation.excursion.description }}</td>
        <td>{{ reservation.price }}</td>
        <td>{{ reservation.status }}</td>
        <td>{{ reservation.created_at }}</td>
        <td>{{ reservation.voucher_id }}</td>
    </tr>
{% endfor %}
</table>

<h2>Availabilities</h2>
<table class="table-auto w-full border-collapse border border-gray-300 rounded-lg shadow-md text-center p-3">
    <tr>
        <th>ID</th>
        <th>Excursion</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Max Guests</th>
        <th>Booked Guests</th>
        <th>Status</th>
        <th>Weekdays</th>
    </tr>
{% for availability in availabilities %}
    <tr>    
        <td>{{ availability.id }}</td>
        <td>{{ availability.excursion.title }}</td>
        <td>{{ availability.start_time }}</td>
        <td>{{ availability.end_time }}</td>
        <td>{{ availability.max_guests }}</td>
        <td>{{ availability.booked_guests }}</td>
        <td>{{ availability.status }}</td>
        <td>
            {% for weekday in availability.weekdays.all %}
                {{ weekday.code }}
            {% endfor %}
        </td>
    </tr>
{% endfor %}
</table>

<h2>Availability Days</h2>
<table class="table-auto w-full border-collapse border border-gray-300 rounded-lg shadow-md text-center p-3">
    <tr>
        <th>ID</th>
        <th>Excursion availability</th>
        <th>Date day</th>   
        <th>Capacity</th>
        <th>Booked Guests</th>
        <th>Remaining Seats</th>
        <th>Status</th>
    </tr>
{% for availability_day in availability_days %}
    <tr>
        <td>{{ availability_day.id }}</td>
        <td>{{ availability_day.excursion_availability.id }}</td>
        <td>{{ availability_day.date_day }}</td>
        <td>{{ availability_day.capacity }}</td>
        <td>{{ availability_day.booked_guests }}</td>
        <td>{{ availability_day.status }}</td>
    </tr>
{% endfor %}
</table>

<h2>Daysoftheweek</h2>
<table class="table-auto w-full border-collapse border border-gray-300 rounded-lg shadow-md text-center p-3">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Capacity</th>
    </tr>
{% for day in daysoftheweek %}
    <tr>
        <td>{{ day.id }}</td>
        <td>{{ day.code }}</td>
        <td>{{ day.capacity }}</td>
        </tr>
{% endfor %}
</table>

<h2>Pickup Group Availabilities</h2>
<table class="table-auto w-full border-collapse border border-gray-300 rounded-lg shadow-md text-center p-3">
    <tr>
        <th>ID</th>
        <th>Excursion</th>
        <th>Pickup Group</th>
    </tr>
{% for pickup_group_availability in pickup_group_availabilities %}
    <tr>
        <td>{{ pickup_group_availability.id }}</td>
        <td>{{ pickup_group_availability.excursion_availability.excursion.title }}</td>
        <td>{{ pickup_group_availability.pickup_group.name }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}