button:hover, a:hover, input[type="submit"]:hover {
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
    color: #463229;
}

.bg-body-light{
    background-color: #fcfcfc;
}
.text-header-grey{
    color: #4d4d4d;
}
.page-header-color{
    color: #333333;
}
.bg-blue, .bg-blue-600, .bg-blue-primary {
    background-color: #2196f3;
}
.bg-blue-light{
    background-color: #d3e4ef;
}
.form-fields-border{
    border-color: #666666;
    border-width: 2px;
}
.bg-blue-nav{
    background-color: #1976d2;
}
.text-blue {
    color: #2196f3;
}
.border-blue-primary {
    border-color: #2196f3;
    border-width: 2px;
}
.text-purple {
    color: #8e24aa;
}
.bg-brown {
    background-color: #463229;
}
.text-brown {
    color: #463229;
}
.border-brown {
    border-color: #c6b09d;
    border-width: 2px;
}
.bg-brown-light {
    background-color: #ffefe9;
}
.text-brown-light {
    color: #c6b09d;
}
.bg-orange {
    background-color: #ff6b35;
}
.text-orange {
    color: #ff6b35;
}
.border-orange {
    border-color: #ff6b35;
    border-width: 2px;
}
.bg-orange-light {
    background-color: #fff4f0;
}
.bg-turquaz {
    background-color: #7ad3d8;
}
.text-turquaz {
    color: #7ad3d8;
}
.border-turquaz {
    border-color: #7ad3d8;
    border-width: 2px;
}
.bg-turquaz-light {
    background-color: #f7f7f7;
}
.bg-red{
    background-color: #e53935;
}
.bg-yellow {
    background-color: #e6b655;
}
.text-yellow {
    color: #e6b655;
}
.border-yellow {
    border-color: #e6b655;
    border-width: 2px;
}
.bg-yellow-light {
    background-color: #ffc107;
}
.table-bg{
    background-color: #fcfaf7;
}
.table-text{
    color: #455a64;
}
.bg-green {
    background-color: #4caf50;
}
.text-green {
    color: #4caf50;
}
.border-green {
    border-color: #4caf50;
    border-width: 2px;
}
.bg-green-light {
    background-color: #fbfff3;
}
select option {
    color: #463229;
    font-weight: 600;
}
.checkbox-list{
    grid-template-columns: repeat(2, 1fr)!important;
}
.swal2-input{
    color: #463229!important;
    border: 2px solid #666666 !important;
    margin: 1em 2em 3px;
}
.swal2-input:focus {
    border: 2px solid #666666 !important;
    outline: none;
}
.swal2-confirm {
    background-color: #2196f3;
}
.swal2-confirm:hover {
    background-color: #2196f3;
    opacity: 0.8;
}